
<div class="container">
    <div class="table">
        <p-table [columns]="cols" [value]="data" [rows]="rows" 
        [paginator]="true" [alwaysShowPaginator]="false">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns">
                        {{col.header}}
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-product let-columns="columns">
                <tr>
                    <td *ngFor="let col of columns">
                        {{product[col.field]}}
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
  </div>

